{% extends "layouts/main.html" %}

{% block header %}
  {{ super() }}

  <style>
    .govuk-service-navigation__wrapper{
        flex-grow: 1;
    }
</style>

{% set navigationEnd %}
  <li class="govuk-service-navigation__item" style="margin-left: auto;">
    <a class="govuk-service-navigation__link" href="menu">Sign out</a>
  </li>
{% endset %}

{{ govukServiceNavigation({
  serviceName: "View your letters and messages",
    slots: {navigationEnd: navigationEnd}
  }) }}
{% endblock %}

{% block pageTitle %}
Your statement of entitlement
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
      text: "Back",
      href: "inbox"
  }) }}
  
  <ul class="dwp-language-toggle__list">
    <li class="dwp-language-toggle__list-item" aria-current="true"> <span class="govuk-body-s"> English  </span></li>
    <li class="dwp-language-toggle__list-item">    
    <a href="#" hreflang="cy" lang="cy" rel="alternate" class="govuk-link--no-visited-state" aria-label="Newid yr iaith ir Gymraeg">Cymraeg</a>
    </li>
  </ul>

  <div class="govuk-inset-text">
        <h2 class="govuk-heading-m">If you need this message as a letter, you can download a copy.</h2>
        <p class="govuk-body">This includes your address.</p>
        <a class="govuk-link govuk-link--no-visited-state" download="PIP_Letter2" href="/public/files/PIP_Letter2.pdf">Download your proof of benefit (PDF, 4.2 KB)</a>
      </div>
{% endblock %}


{% block content %}

  <div class="govuk-grid-row">
    
      <div class="govuk-grid-column-two-thirds">

        <div class="mobile-logo">
          <img src="/public/images/dwp-logo.png" class="dwp-logo" alt=" ">
          <br>
          <br>
        </div>
        
        <span class="govuk-caption-l">Personal Independence Payment (PIP)</span>
        <h1 class="govuk-heading-l">Your statement of entitlement</h1>
        <p class="govuk-body">Message to Sarah Phillips sent on <span id="date-today"></span></p>
        <p class="govuk-body">Your reference number: AC222222A</p>
      </div>

    <div class="govuk-grid-column-one-third">    
      <div class="desktop-logo">
        <div style ="display: flex; justify-content: flex-end;">
          <img src="/public/images/DWP-logo.png" class="dwp-logo">
        </div>
      </div>
    </div>
    
  

    <div class="govuk-grid-column-full">
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
    </div> 

  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">  
     
      <p class="govuk-body">Thank you for asking for a copy of your PIP Statement of Entitlement.</p> 
      <p class="govuk-body">You have been awarded PIP as follows:</p> 
      <p class="govuk-body">The standard rate of the mobility component from 2 May 2020 to 2 December 2029.</p> 
      <p class="govuk-body">The enhanced rate of the daily living component from and including 6 June 2019 for an indefinite period.</p> 
      <p class="govuk-body">As you have been awarded PIP you may be able to get other benefits and services. You can use this message as evidence that you have been awarded PIP.</p>
      <p class="govuk-body">To find out more, view <a href="#" class="https://www.gov.uk/">financial help if you're disabled</a>.</p> 

      <h2 class="govuk-heading-m">Report changes to your circumstances</h2>
      <p class="govuk-body">You must contact us if your circumstances change as they could affect your benefits. Find out what you need to let us know in the change of circumstances section under more information.</p> 
     
      <h2 class="govuk-heading-m" id="contact-us">If you need to contact us</h2>
      <p class="govuk-body">You can contact us by telephone on 0800 555 0001. If you contact us, we may ask you for:</p> 

      <ul class="govuk-list govuk-list--bullet">
        <li>your reference number - this is AC2222A</li>
        <li>the ID of this message - this is PIP.053</li>
      </ul>

      <h2 class="govuk-heading-m" id="contact-us">If you need to show your proof of benefit</h2>
      <p class="govuk-body">You can download a copy of your proof of benefit at the top of this page. This includes your address.</p> 

      <br>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <h2 class="govuk-heading-l" id="next-steps-and-support">More information</h2>
      <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
       
        <div class="govuk-accordion__section">
          <div class="govuk-accordion__section-header">
            <h3 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                Change of circumstances
              </span>
            </h3>
          </div>
          <div id="accordion-default-content-1" class="govuk-accordion__section-content">
            <p class="govuk-body">If your circumstances change, please let us know. Call us straight away on 0800 555 0001. Someone else can call for you, but you will need to be with them when they call.</p> 
            
            <h4 class="govuk-heading-s">If your needs or condition changes</h4>
            
            <p class="govuk-body">Please tell us straight away if:</p> 

            <ul class="govuk-body"> 
              <li>the help you need or your condition changes, for example you need more or less help with daily living and mobility tasks</li>
              <li>your health professional tells you your condition will last for a longer or shorter time than you have already told us</li>
              <li>your condition has worsened, and you are not expected to live more than 12 months</li>
            </ul>
          
            <p class="govuk-body">Find out when and how to <a href="#" class="https://www.gov.uk/">report a change to your needs or circumstances</a></p>

            <h4 class="govuk-heading-s">Other changes you must tell us about</h4>

            <p class="govuk-body">Please tell us straight away if you:</p> 

            <ul class="govuk-body"> 
              <li>are not a British or Irish citizen and your immigration status changes. If you are a European Union, European Economic Area or Swiss citizen and were living in the UK by 31 December 2020 but have not applied to the EU Settlement Scheme, you and your family must apply straight away. If you have lived in the UK for 5 years or more in a row, you can apply for settled status. If you have pre-settled status this will not expire. It may be beneficial for you to apply for settled status if you have lived in the UK for 5 years or more in a row</li>
              <li>go into a hospital, hospice, nursing home or care home</li>
              <li>go into a residential school or college</li>
              <li>go into foster care, or the care of a local authority or health and social care trust</li>
              <li>plan to leave the country for more than 4 weeks</li>
              <li>go into prison or are held in legal custody</li>
              <li>or your spouse, civil partner or parent you are dependent upon, start to or stop receiving a pension or benefit from another EEA state or Switzerland</li>
            </ul>

            <p class="govuk-body">Changes can affect the amount of PIP you get. Depending on the change your PIP could go up, go down, stay the same or stop.</p>

            <p class="govuk-body">If we overpay you because you have not told us about a change, you may have to pay the money back.</p> 

            <p class="govuk-body">If you do not tell us about any changes straight away, you risk being prosecuted or having to face a financial penalty.</p> 

            <p class="govuk-body">Please tell us straight away if:</p> 

            <ul class="govuk-body"> 
              <li>change your name, address or landline or mobile phone number</li>
              <li>change the account that we pay your benefit into</li>
              <li>change doctor or health professional</li>
              <li>have someone acting for you and that person changes</li>
            </ul>
          </div>
        </div>

        <div class="govuk-accordion__section">
          <div class="govuk-accordion__section-header">
            <h3 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                Other benefits, support and advice
              </span>
            </h3>
          </div>
          <div id="accordion-default-content-1" class="govuk-accordion__section-content">
            <p class="govuk-body">There are other benefits and help you may be able to get. For example:</p> 

            <ul class="govuk-body"> 
              <li>Access to work</li>
              <li>Employment and Support Allowance</li>
              <li>Universal Credit</li>
              <li>Housing Benefit or Local Council Tax Reduction</li>
              <li>Help with health costs (please go to your local NHS website for more details)</li>
              <li>A motability vehicle (this is dependent on getting the enhanced amount of mobility)</li>
              <li>Disabled Persons Railcard and Blue Badge</li>
            </ul>

            <p class="govuk-body">If you are awarded the enhanced or standard mobility part of Personal Independence Payment you may be entitled to an exemption or reduction of Vehicle Excise Duty (VED).</p>
            <p class="govuk-body">To find out more, view <a href="#" class="https://www.gov.uk/">financial help for vehicles and transport if you’re disabled</a> or contact DVLA on 0300 790 6802.</p>
          </div>

        <div class="govuk-accordion__section">
          <div class="govuk-accordion__section-header">
            <h3 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                Other ways to communicate with us
              </span>
            </h3>
          </div>
          <div id="accordion-default-content-1" class="govuk-accordion__section-content">
            <p class="govuk-body">If you would like braille, British Sign Language, a hearing loop, translations, large print, audio or something else please tell us.</p>
            <p class="govuk-body">If you use Relay UK dial 18001 followed by our telephone number.</p>       
        </div>

        <div class="govuk-accordion__section">
          <div class="govuk-accordion__section-header">
            <h3 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                Treating people fairly
              </span>
            </h3>
          </div>
          <div id="accordion-default-content-1" class="govuk-accordion__section-content">
            <p class="govuk-body">We are committed to the Equality Act 2010 and treating people fairly. Find out more about the <a href="#" class="https://www.gov.uk/">Equality Act on GOV.UK</a>.</p>
          </div>
        </div> 
        
        <div class="govuk-accordion__section">
          <div class="govuk-accordion__section-header">
            <h3 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                Call charges
              </span>
            </h3>
          </div>
          <div id="accordion-default-content-1" class="govuk-accordion__section-content">
            <p class="govuk-body">Calls to 0800 numbers are free from personal mobiles and landlines.</p> 
          </div>
        </div> 

        <div class="govuk-accordion__section">
          <div class="govuk-accordion__section-header">
            <h3 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                Why DWP needs personal information and how we treat it
              </span>
            </h3>
          </div>
          <div id="accordion-default-content-1" class="govuk-accordion__section-content">
            <p class="govuk-body">We treat personal information carefully. We may use it for any of our purposes. To learn more about information rights and how we use information, please visit our <a href="#" class="https://www.gov.uk/">DWP Personal Information Charter</a>.</p> 
          </div>
        </div> 
      </div>
    </div>
  </div>


  <style>
  .govuk-service-navigation__wrapper {
    flex-grow: 1;
  }

  .dwp-logo {
    width: 135px;
    height: auto;
    display: block;
    filter: grayscale(100%)
  }

  .mobile-logo {
    display: none;
  }

  .desktop-logo {
    display: block;
  }

  @media (max-width: 640px) {
    .mobile-logo {
      display: block;
      margin-bottom: 10px;
    }

    .mobile-logo .dwp-logo {
      width: 90px;
    }

    .desktop-logo {
      display: none;
    }
  }
</style>

  <script>

    document.addEventListener('DOMContentLoaded', function () {
      localStorage.setItem('pip-unread', 'read');
    });

    document.addEventListener('DOMContentLoaded', (event) => {

    const navType = performance.getEntriesByType('navigation')[0]?.type;
    if (navType === 'reload') {
      localStorage.clear();
    }

    const today = new Date ();
    const formattedDate = today.toLocaleDateString('en-GB', {

    day: 'numeric',
    month: 'long',
    year: 'numeric'

    });

    const dateColumns = document.querySelectorAll('.date-today');
    dateColumns.forEach(column => {
    column.textContent = formattedDate;

    });

    document.getElementById('date-today').textContent = formattedDate;

    });
    
  </script>

{% endblock %}


