{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block beforeContent %}


{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-width-container">
    <h1 class="govuk-heading-l">
      This prototype has been retired.
    </h1>

    <h2 class="govuk-heading-m">
        Newer prototypes
      </h2>

    <p class="govuk-body"> These prototypes have replaced this version:</p>  
      
      <ul class="govuk-list">
        <li>
          <a class="govuk-link" href="https://message-centre-31bd1baa71dc.herokuapp.com/">Message Centre</a>
        </li>
        <li>
          <a class="govuk-link" href="https://citizen-preference-e2773154cf7a.herokuapp.com/">Citizen preference</a>
        </li>
        <li>
          <a class="govuk-link" href="https://evidence-prototype-a6ccc674e3fb.herokuapp.com/">Evidence ECMS</a>
        </li>
        <li>
          <a class="govuk-link" href="evidence/menu.html">Evidence Customer</a>
        </li>
      </ul>

      <h2 class="govuk-heading-m">
        Related prototypes
      </h2>

      <ul class="govuk-list">
        <li>
          <a class="govuk-link" href="https://customer-view.herokuapp.com/">Customer view</a>
        </li>
        <li>
          <a class="govuk-link" href="https://colleague-view.herokuapp.com/">Colleague view</a>
        </li>
      </ul>

  </div>

</div>

{% endblock %}
